html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom right, #000000, #800080);
  color: #ffffff;
  overflow-y: auto;
}

main {
  min-height: 100vh;
}

.fullscreen-section {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem 1rem;
  overflow-y: auto;
}

.section-content {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #cccccc;
  margin-bottom: 3rem;
  text-align: center;
  width: 100%;
}

/* Ajustes para el contenido de las secciones */
.about-content, #timeline, #tech-stack-graph, #projects .section-content, #services .section-content, #contact .section-content {
  margin-top: 1rem; 
}

#projects h2 {
  margin-bottom: 4rem;  /* Aumentado de 3rem a 4rem */
}

/* About Me section styles */
.about-content {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  gap: 3rem;
  max-width: 800px;
  width: 100%;
}

.profile-photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ffffff;
}

.about-text {
  width: calc(100% - 200px - 2rem); 
}

.about-text p {
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #f0f0f0;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #cccccc;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

/* Timeline specific styles */
#education-experience .section-content {
  margin-top: 2rem;
  max-width: 100%;
  width: 100%;
  padding: 1rem;
}

#timeline {
  margin-bottom: 4rem;
}

/* Tech stack style */
#tech-stack .section-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 0;
}

.graph-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
}

.graph-wrapper {
  width: calc(33.33% - 20px);
  height: 300px;
  min-height: 300px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.graph {
  width: 100%;
  height: calc(100% - 30px); 
}

.graph-wrapper h3 {
  color: #d1a1ff;
  font-size: 1rem;
  margin: 0 0 10px 0;
  text-align: center;
}

.node text {
  fill: #d1a1ff;
  font-size: 4px;
  font-weight: 100;
}

.node circle {
  stroke: #ffffff;
  stroke-width: 1.5px;
}

.link {
  stroke: rgba(255, 255, 255, 0.2);
}

/* Estilos para la sección de servicios */
.hexagon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.hexagon {
  position: relative;
  width: 250px;
  height: 144px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 40px 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 72px solid rgba(255, 255, 255, 0.1);
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 72px solid rgba(255, 255, 255, 0.1);
}

.hexagon-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hexagon:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.2);
}

.hexagon:hover:before {
  border-bottom-color: rgba(255, 255, 255, 0.2);
}

.hexagon:hover:after {
  border-top-color: rgba(255, 255, 255, 0.2);
}

.hexagon:hover .hexagon-content {
  opacity: 1;
}

.hexagon-content h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #ffffff;
}

.hexagon-content p {
  font-size: 0.9em;
  color: #cccccc;
}

/* Estilos para los bloques de experiencia */
.experience-blocks {
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-top: 2rem;
  padding: 10px 20px;;
}

.experience-block {
  width: calc(25% - 1rem);
  margin-bottom: 1rem;
  color: #ffffffbe;
  font-family: 'Montserrat', sans-serif;
}

.experience-block h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.experience-block p {
  font-size: 0.9rem;
  line-height: 1.4;
}

/* Responsive design */
@media (max-width: 768px) {
  .section-content {
      padding: 1rem;
  }

  .about-content {
      flex-direction: column;
      gap: 1rem;
  }

  .profile-photo {
      width: 150px;
      height: 150px;
  }

  .about-text {
      width: 100%; 
  }

  #timeline {
      height: 40vh;
  }

  .graph-wrapper {
      width: 100%;
      margin: 10px 0;
  }

  .hexagon {
      width: 200px;
      height: 115px;
      margin: 30px 10px;
  }

  .hexagon:before,
  .hexagon:after {
      border-left-width: 100px;
      border-right-width: 100px;
  }

  .hexagon:before {
      border-bottom-width: 57.5px;
  }

  .hexagon:after {
      border-top-width: 57.5px;
  }

  .hexagon-content h3 {
      font-size: 1em;
  }

  .hexagon-content p {
      font-size: 0.8em;
  }

  .experience-block {
      width: 100%;
  }
}


/* Estilos comunes para todos los botones */
.linkedin-button,
.github-button,
.new-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 20px;
  line-height: 1.5;  
  font-weight: normal;  
  text-align: center; 
}

/* Estilos específicos para cada botón */
.linkedin-button {
  background-color: #0077b5;
}

.linkedin-button:hover {
  background-color: #005582;
}

.github-button {
  background-color: #24292e;
}

.github-button:hover {
  background-color: #1a1e22;
}

.new-button {
  background-color: #a800db;
}

.new-button:hover {
  background-color: #8c30c5;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .linkedin-button,
  .github-button,
  .new-button {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;  
  }
}

/*Carousel styles*/
#image-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80vh; /* 50% de la altura de la ventana */
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.carousel-slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative; /* Para posicionar el pseudo-elemento */
}

.carousel-slide::before {
  content: '';
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  filter: blur(20px);
  z-index: 1;
}

.carousel-slide img {
  max-width: 90%; /* Reducido para dejar espacio para el efecto de iluminación */
  max-height: 90%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 5%;
  position: relative;
  z-index: 2; /* Asegura que la imagen esté por encima del efecto de iluminación */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); /* Sutil sombra para mejorar el efecto */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  z-index: 10;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.carousel-button.prev {
  left: 20px;
}

.carousel-button.next {
  right: 20px;
}

#image-carousel .section-content {
  height: 100%;
  position: relative;
}

#image-carousel h2 {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  margin: 0;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 20px;
}